<div class="row page-container">
  <p class="titlePage">
    Criar Conta
  </p>
  <form class="col s12" [formGroup]="frm">

    <div class="row">
      <div class="input-field col s12">
        <label>
          <input name="tipo" type="radio" value="Aluno" formControlName="tipo" />
          <span>Aluno</span>
        </label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s12">
        <label>
          <input name="tipo" type="radio" value="Instrutor" formControlName="tipo" />
          <span>Instrutor</span>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <label>
          <input name="tipo" type="radio" value="Interprete" formControlName="tipo" />
          <span>Interprete</span>
        </label>
      </div>
    </div>
    <div class="row"><p></p></div>
    <div class="row nome-form">
      <div class="input-field col s12">
        <input id="nome" type="text" class="validate" maxlength="100" formControlName="nome">
        <label for="nome">Nome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" maxlength="100" formControlName="email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m6 s12">
        <input id="senha" type="password" class="validate" maxlength="10" formControlName="senha">
        <label for="senha">Senha</label>
      </div>
      <div class="input-field col m6 s12">
        <input id="confirmarSenha" type="password" class="validate" maxlength="10" formControlName="confirmarSenha">
        <label for="confirmarSenha">Confirmar senha</label>
      </div>
    </div>

    <div class="row flex-container-btn">
      <a class="waves-effect waves-light btn btn-mcrs tooltipped" data-position="top" data-tooltip="Salvar"
        (click)="onSalvar()"><i class="material-icons dp48">done</i></a>
      <a class="waves-effect waves-light btn btn-mcrs tooltipped" data-position="top" data-tooltip="Cancelar"
        (click)="onCancelar()"><i class="material-icons dp48">cancel</i></a>
    </div>



  </form>
</div>