<div class="row login-container">
  <form class="col s12" [formGroup]="frm">
    <div class="row">
      <div class="flex-container-img col s12">
        <img src="../../assets/logo.png">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" maxlength="100" formControlName="email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" maxlength="10" formControlName="senha">
        <label for="password">Senha</label>
      </div>
    </div>

    <div class="row">
      <a class="waves-effect waves-light btn btn-mcrs" (click)="onEntrar()">Entrar</a>
    </div>

    <div class="row">
      <a routerLink="/usuarioCriar">Criar conta</a>
    </div>

    <div class="row">
      <a routerLink="/usuarioEsqueci">Esqueci minha senha</a>
    </div>

  </form>
</div>