
.login-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 800px) {
    .login-container {
        width: 500px;
    }
}

.flex-container-img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}

img {
    border-radius: 10px;
}

.row {
    margin-top: 0;
    margin-bottom: 0;
}

.flex-container-btn {
    display: flex;
    justify-content: center;
}

.flex-container-lnk {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 700;
    margin: 8px;
}

