div{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.chatTabela {
    margin: 0 auto;
    background-color: rgb(250, 244, 244);
    height: 50vh;
}

.chatPainel {
    height: 100%; 
    width: 100%; 
    overflow-x: auto;
}

.chatDestino {
    margin-top: 5px;
    margin-bottom: 5px;;
    padding: 0;
    padding-left: 4px;
    width: 100%;
    background-color: #Fdd;
}

.chatOrigem {
    margin-top:5px;
    margin-bottom: 5px;
    padding: 0;
    padding-right: 4px;
    background-color: #cfc;
    text-align: right;
}

.chatNome, .chatDtHr {
    margin: 0;
    padding: 0;
    background-color: rgba(150,150,150,0.1);
    font-size: 0.75rem;
    font-weight: 600;
}

.chatMensagem {
    margin:0;
    padding:0;
    font-size: 1.2rem;
}

.input-ctn{
    margin: auto;
}

.chatInput{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-bottom: 4px;
}
.btn{
    margin: 0;
    padding: auto;
    width: 4.8em;
}

