<p *ngIf="Matriculado == 'Sim' && tipoUsuario == 'Aluno'" class="titlePage">
  Meus Cursos
</p>
<p *ngIf="Matriculado == 'Não' && tipoUsuario == 'Aluno'" class="titlePage">
  Cursos Disponíveis
</p>
<p *ngIf="tipoUsuario == 'Instrutor'" class="titlePage">
  Cursos Cadastrados
</p>
<div *ngIf="tipoUsuario == 'Instrutor'" class="card-action">
  <a class="waves-effect waves-light btn btn-mcrs tooltipped" data-position="top" data-tooltip="Cadastrar novo"
    routerLink="/cursoCadastro/Incluir/0"><i class="material-icons dp48">add</i></a>
</div>
<div class="grid-container-page">
  <div *ngFor="let curso of listaCurso" class="card crd">

    <div class="card-image">
      <a routerLink="/videoLista/{{curso.ID_CURSO}}"><img src="{{curso.URLIMAGEM}}"></a>
    </div>
    <div class="card-content card-title">
      <p>{{curso.NOME}}</p>
    </div>
    <div class="card-content card-description">
      <p>{{curso.DESCRICAO}}</p>
    </div>
    <div *ngIf="curso.GRATUITO == 'Sim'" class="card-content card-gratis">
      <p>GRÁTIS!</p>
    </div>
    <div *ngIf="curso.GRATUITO == 'Não'" class="card-content card-valor">
      <p>Valor: R$ {{curso.VALOR}}</p>
    </div>
    <div *ngIf="tipoUsuario == 'Aluno'" class="card-content flex-container-btn">
      <a *ngIf="Matriculado == 'Sim'" style="margin-right: 50px;" class="waves-effect waves-light btn btn-mcrs tooltipped" data-position="top" data-tooltip="Vídeos"
        routerLink="/videoLista/{{curso.ID_CURSO}}"><i class="material-icons dp48">play_arrow</i></a>
      <a *ngIf="Matriculado == 'Não' && curso.GRATUITO == 'Sim'" class="waves-effect waves-light btn btn-mcrs tooltipped" data-position="top" data-tooltip="Adicionar"
      (click)="onAdicionar(curso.ID_CURSO)"><i class="material-icons dp48">add</i></a>
      <a *ngIf="Matriculado == 'Não' && curso.GRATUITO == 'Não'" class="waves-effect waves-light btn btn-mcrs tooltipped" data-position="top" data-tooltip="Comprar"
        routerLink="/cursoComprar/{{curso.ID_CURSO}}"><i class="material-icons dp48">shopping_cart</i></a>
    </div>
    <div *ngIf="tipoUsuario == 'Instrutor'" class="card-content flex-container-btn">
      <a style="margin-right: 50px;" class="waves-effect waves-light btn btn-mcrs tooltipped" data-position="top" data-tooltip="Vídeos"
        routerLink="/videoLista/{{curso.ID_CURSO}}"><i class="material-icons dp48">video_call</i></a>
      <a class="waves-effect waves-light btn btn-mcrs tooltipped" data-position="top" data-tooltip="Alterar"
        routerLink="/cursoCadastro/Alterar/{{curso.ID_CURSO}}"><i class="material-icons dp48">edit</i></a>
      <a class="waves-effect waves-light btn btn-mcrs tooltipped" data-position="top" data-tooltip="Excluir"
        (click)="onExcluir(curso.ID_CURSO)"><i class="material-icons dp48">delete</i></a>
    </div>

  </div>
</div>