<div *ngFor="let curso of listaCurso" class="col s12 m7 crd">
  <h2 class="header crd-tt">{{curso.NOME}}</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src={{curso.IMAGEM}}>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{curso.DESCRICAO}}</p>
        
      </div>
      <div *ngIf="curso.GRATUITO == 'SIM'" class="card-content">
        <p>GRATIS</p>
      </div>
      <div *ngIf="curso.GRATUITO == 'NAO'" class="card-content">
        <p>{{curso.VALOR}}</p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn btn-mcrs" routerLink="/cursoComprar/{{curso.ID_CURSO}}">Comprar</a>
      </div>
    </div>
  </div>
</div>

