<app-master></app-master>
<div id="contorno" class="contorno">
  <router-outlet></router-outlet>

  <!-- Tela de Alert -->
  <a id="btnModalAlert" class="waves-effect waves-light btn modal-trigger" style="display: none;"
    href="#modalAlert">ModalAlert</a>
  <div id="modalAlert" class="modal">
    <div class="modal-content">
      <p class="titleModal" id="titleModalAlert">title</p>
      <p class="mensageModal" id="mensageModalAlert">message</p>
    </div>
    <div class="modal-footer">
      <button data-target="modalAlert" class="btn btnModal btn-mcrs modal-close">Ok</button>
    </div>
  </div>
  
  <!-- Tela de Confirm -->
  <a id="btnModalConfirm" class="waves-effect waves-light btn modal-trigger" style="display: none;"
    href="#modalConfirm">ModalConfirm</a>
  <div id="modalConfirm" class="modal" style="height: 250px;">
    <div class="modal-content" style="height: 190px;">
      <p class="titleModal" id="titleModalConfirm">title</p>
      <p class="mensageModal"  id="mensageModalConfirm">message</p>
    </div>
    <div class="modal-footer">
      <button id="simModalConfirm" data-target="modalConfirm" class="btn btnModal btn-mcrs modal-close">Sim</button>
      <button id="naoModalConfirm" data-target="modalConfirm" class="btn btnModal btn-mcrs modal-close">Não</button>
    </div>
  </div>
  
</div>