<nav>
  <div class="nav-wrapper">
    <a routerLink="/cursos" class="brand-logo">EAD Inclusivo</a>
    <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons dp48">dehaze</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/usuarioLogin">Login</a></li>
      <li><a routerLink="/cursoLista">Cursos Disponíveis</a></li>
        </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/usuarioLogin">Login</a></li>
  <li><a routerLink="/cursoLista">Cursos Disponíveis</a></li>
</ul>
