<nav>
  <div class="nav-wrapper">
    <a routerLink="/cursos" class="brand-logo">EAD Inclusivo</a>
    <a data-target="mobile-demo" class="sidenav-trigger opcaoMenu"><i class="material-icons dp48">dehaze</i></a>
    <ul class="right hide-on-med-and-down opcaoMenu">
      <li class="opcaoMenuMatriculado"><a routerLink="/cursoMatriculado/Sim">Meus Cursos</a></li>
      <li><a routerLink="/cursoLista/Não">Cursos Disponíveis</a></li>
      <li><a (click)="onLogout()">Sair</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li class="opcaoMenuMatriculado" style="display: block;"><a routerLink="/cursoMatriculado/Sim">Meus Cursos</a></li>
  <li><a routerLink="/cursoLista/Não">Cursos Disponíveis</a></li>
  <li><a (click)="onLogout()">Sair</a></li>
</ul>