

/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~ngx-toastr/toastr';


@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gsc-app-primary: mat-palette($mat-purple, 700);
$gsc-app-accent: mat-palette($mat-cyan, 600);

// The warn palette is optional (defaults to red).
$gsc-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$gsc-app-theme: mat-light-theme($gsc-app-primary, $gsc-app-accent, $gsc-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($gsc-app-theme);
 

//Standard size
$break-small: 540px;
$break-medium: 720px;
$break-large: 960px;
$break-exlarge: 1140px;

@import "../node_modules/materialize-css/dist/css/materialize.css";

html {
    height:100% !important;
} 

body {
    width: 100%;
    min-height:100% !important;
    background-color: #004D92;
    padding: 4px;
}

.btn-mcrs {
    background-color: #A1E9FF;
    color: #012A3E;
    font-size: 18px;
    margin: 3px;
}

.flex-container-btn {
    display: flex;
    justify-content: flex-end;
}

.card-title {
    font-weight: bold !important;
    margin: 3px;
}
.card-content {
   padding: 5px !important;
}

.modal {
    width: 80%;
    height: 205px;
}

.titlePage {
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    text-align: center;
}
