
.flex-container-img {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.imgCurso {
    width: 60% !important;
}

.imgVideo {
    width: 100% !important;
    height: 100% !important;
}

.card-image {
    width: 100% !important;
}

.grid-container-page {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 3px;
}

@media only screen and (min-width: 1000px) {
    .grid-container-page {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (min-width: 1500px) {
    .grid-container-page {
        grid-template-columns: auto auto auto auto;
    }
}
